* {
    box-sizing: border-box;
}

body {
   /* background-color: #5B7C8B; */
  /* background-image: url('../images/background.jpg'); */


}


#nav-bar {
    background-color: #5B7C8B !important;
    width: 100%;
    height: 56px;
    line-height: 56px;

    }

.nav-wrapper {
    margin: 0 20px;
}

#nav-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;


}

#slide-out-r {
    background-color: #5B7C8B;
}

#instructions {

   padding: 20px;
   background-color: #5B7C8B;

}

/* .parallax-container {
    height: 500px;
  } */

  /* .parallax img {
      @media #{$small-and-down} {max-width: 200%;}
    @media
    } */

/* #buttons-menu {
    display: inline-block;
    float: right;
} */

.parallax-container {
    min-height: 750px;
    width: 100%;
    height: auto;

}



/* @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  } */


/* .sidenav {
    position: fixed;
    right: 0 !important;
    background-color: #5B7C8B !important;
} */
/* .sidenav-trigger {
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
  } */
/* #start {
    margin-top: 0px;
    padding: 0px;
} */

#logo {
    width: 50%;
}



#card-img {
    background-image: url('');
    background-color: blue;
}

#search-bar {
    background-color: white;
    border-style: solid;
    border-width: 7px;
    border-color: #5B7C8B;
}
/*
@media only screen and (max-width: 992px) {
    #logo {
        max-width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        max-width: 425px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 375px) {
    #logo {
        max-width: 350px;
        margin-top: 50px;
    } */


/* #header-img {
    max-width: 600px;
} */

/* #buttons-window {
    background-color: #5B7C8B;
    height: 200px;
    margin: auto;
} */
#window {
    margin-right: auto;
    margin-left: auto;
}

#buttons-start {
    background-color: #5B7C8B !important;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 50px;

}

/* .instructions-icon {
    max-width: 75px;

} */

#main-container {
    background-color: #5B7C8B !important;
}
/* #bottom-parallax {
    /* overflow: hidden visible; */
    /* height: 667px;


} */

.icon {
    background-color: #cee1e9;
    opacity: 0.5;
}

#contact-us {
    background-color: white;
}

/* table {
    background-color: transparent;
} */

/* #top-recipes {
    width: 95%;
    margin: 0 auto;

    /* background-image: url('../images/background.jpg');  */



/* #contact-us {
     background-color: #E9ECE5;
}
.main-container {
    background-color: #E9ECE5;
} */

footer {
    /* background-color: #A5A59F; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #5B7C8B !important;
    height: 100px;
}
